.cartBox{
    width:"100%";
    height:"45px";
        .am-navbar-title{
            justify-content: center;
            align-items: center;
        }
}
.cartList{
    width: 100%;
    margin-bottom: 45px;
    &>li{
    width: 100%;
    box-sizing: border-box;   
    padding: 11px 0 11px 11px;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    border-bottom: 1px solid #eeeeee;
        .goods-pic{
            padding: 5px;
            border: 1px solid #eeeeee;
            margin: 0 5px;
        }
        .cart_msg{
            height: 65px;
            flex: 1;
            display: flex;
            flex-direction:column;
            justify-content: space-between;
            position: relative;
            .cart_name{
                width: 80%;
                font-size: 14px;
            }
            .cart.price{
                color: #db4453;
            }
            .icon-shanchu{
                position: absolute;
                right: 10px;
                top: 0;
            }
            .cart_num{
                position: absolute;
                right: 10px;
                bottom: 0;
                &>button{
                    width: 25px;
                    height: 25px;
                    outline-style: none;
                }
                .cart_buyNum{
                    outline: none;
                    border: 0;
                    background: wheat;
                }
            }
        }
    }
}

.cart_title{
    width:100% ;
    height: 45px;
    background: white;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 12222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .cart_money{
        height: 45px;
        line-height: 45px;
        font-size: 14px;
        .money{
            color: #db4453;
            font-size: 22px;
            margin-right: 16px;
        }
        &>button{
            width: 100px;
            height: 45px;
            background:#db4453 ;
            color: white;
            border: 0;
            outline:0;
        }
    }
}