@mixin box {
    width: 100%;
    box-sizing: border-box;
    padding: 11px 11px 5px;

}
@mixin  button {
    outline-style: none;
    border: 0;
    color: white;
}
.detail_header{
    width: 100%;
    height: 45px;
    background: white;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    &>span{
        display: block;
        width: 30px;
        height:30px;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        border: #eee;
        &>.iconfont{
            font-size: 20px;
            color: goldenrod;
        }
    }
    &>p{
        flex: 1;
        display: flex;
        height: 45px;
        justify-content: center;
        align-items: center;
        &>span{
            display: block;
            height: 45px;
            line-height: 45px;
            margin:0 11px;
            font-size: 18px;
        }
        .shopp{
            color: #ed5564;
            font-weight: 600;
            border-bottom: 1px solid #ed5564;
        }
    }
}

.goods-detail_name{
    @include box;
    font-size: 15px;
}
.goods-detail-price{
    @include box;
    padding: 0 11px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .price_info{
        display: flex;
        align-items: flex-end;
        .goods_price{
            color:#db4453;
            margin-right: 5px;
        }
        .goods_marketprice{
            text-decoration: line-through;
        }
    }
   
}
.goods-detail-item{
    @include box;
    &>button{
        width: 71px;
        height: 30px;
        font-size: 14px;
        background: #ed5564;
        @include button;
    }
}
.goods-title{
    @include box;
    &>button{
        @include button;
        padding: 0 5px;
        height: 22px;
        background: #ffa500;
    }
}

.detail_footer{
    width: 100%;
    height: 45px;
    background: white;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .detail_enter{
        flex: 1;
        display: flex;
        justify-content: space-between;
        &>li{
            width:30%;
            text-align: center;
        }
    }
    .detail_now{
        &>button{
            @include button;
            width: 95px;
            height: 45px;
            font-size: 16px;
        }
        .but1{
            background: #ed5564;
        }
        .but2{
            background: #fb6e52;
        }
    }
}

.detail_msg{
    margin-top: 20px;
    width: 100%;
    img{
        width: 100%;
    }
}